doctype html
html
	head
		meta(charset="utf-8")
		title #{title}
		style(type="text/css" media="all")
			include test/html_index.css
	body
		canvas#c
		script(type="text/javascript")
			include test/html_index.js